$color__orange: #d74100;
$color__red: #ff0000;

// primary brand color
$color__primary: #ff385c;

$font__primary: Arial, Verdana, sans-serif;
$font__secondary: Georgia, serif;

$breakpoint__tablet: 700px;
$breakpoint__laptop: 1024px;
$breakpoint__desktop: 1140px;
